<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Si-Business</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/user-style.css}" />
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="font-size: 2rem;">Update Password</div>
                <div class="card-body">
                    <form th:action="@{/user/updatePassword}" th:object="${user}" method="POST">
                        <input type="hidden" th:field="*{id}" />

                        <input type="hidden" name="username" class="form-control" th:value="*{username}" />

                        <input type="hidden" th:field="*{password}" name="password" class="form-control"/>

                        <label>Password Lama</label>
                        <input required class="form-control" type="password" name="oldPassword"/>
                        <br>

                        <label>Password Baru</label>
                        <input required class="form-control" type="password" name="newPassword" minlength="8" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" title="password harus mengandung angka, huruf besar, huruf kecil, dan simbol serta minimal memiliki 8 karakter"/>
                        <br>

                        <label>Konfirmasi Password Baru</label>
                        <input required class="form-control" type="password" name="confirmedNewPassword" minlength="8" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" title="password harus mengandung angka, huruf besar, huruf kecil, dan simbol serta minimal memiliki 8 karakter"/>
                        <br>

                        <input type="hidden" th:field="*{role.id}" name="role" class="form-control"/>

                        <a class="btn btn-second-user" th:href="@{/user/view-all}">Batal</a>
                        <button type="submit" class="mx-2 btn btn-first-user float-right">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>