<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/home-style.css}" />
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
    <div class="container m-5 p-5" style="background: rgba(218, 221, 252, .75); border-radius: 10px">
        <h2 style="text-align: center" th:text=" 'Halo ' + ${#httpServletRequest.remoteUser} + '!'">Login as</h2>
        <h2 style="text-align: center">Selamat datang di SI-BUSINESS!</h2>
        <div class="d-flex justify-content-center">
            <a th:href="@{/user/view-all}" class="mx-2 btn">Lihat daftar user</a>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <a href="#" class="mx-2 btn">Lihat daftar permintaan kupon</a>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <a href="#" class="mx-2 btn">Lihat daftar kupon</a>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <a class="btn" href="#">Lihat daftar mesin SI-FACTORY</a>
        </div>
        <div class="my-3 d-flex justify-content-center">
            <a class="btn" href="#">Lihat daftar item SI-ITEM</a>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>