<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Si-Business</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/user-style.css}" />
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
    <div class="container m-5 p-5" style="background: rgba(218, 221, 252, .75); border-radius: 10px">
        <div th:text="${message}" class="alert alert-info" role="alert"></div>
        <h2 style="text-align: center">Daftar Seluruh Request Item Factory</h2>
        <br>
        <table class="table" style="background-color: #daddfc; text-align: center;">
            <thead class="thead-light">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Stock</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Approver</th>
                <th scope="col">Action</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="itemFactory, iterationStatus: ${listItemFactory}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${itemFactory.nama}"></td>
                <td th:if="${itemFactory.status} == 0">Menunggu</td>
                <td th:if="${itemFactory.status} == 1">Disetujui</td>
                <td th:text="${itemFactory.stok}"></td>
                <td th:text="${itemFactory.harga}"></td>
                <td th:if="${itemFactory.kategori} == 1">Buku</td>
                <td th:if="${itemFactory.kategori} == 2">Dapur</td>
                <td th:if="${itemFactory.kategori} == 3">Makanan & Minuman</td>
                <td th:if="${itemFactory.kategori} == 4">Elektronik</td>
                <td th:if="${itemFactory.kategori} == 5">Fashion</td>
                <td th:if="${itemFactory.kategori} == 6">Kecantikan & Perawatan Diri</td>
                <td th:if="${itemFactory.kategori} == 7">Film & Musik</td>
                <td th:if="${itemFactory.kategori} == 8">Gaming</td>
                <td th:if="${itemFactory.kategori} == 9">Gadget</td>
                <td th:if="${itemFactory.kategori} == 10">Kesehatan</td>
                <td th:if="${itemFactory.kategori} == 11">Rumah Tangga</td>
                <td th:if="${itemFactory.kategori} == 12">Furniture</td>
                <td th:if="${itemFactory.kategori} == 13">Alat & Perangkat Keras</td>
                <td th:if="${itemFactory.kategori} == 14">Wedding</td>
                <td th:text="${itemFactory.approver}"></td>
                <td>
                    <a class="btn btn-second-user" th:href="@{/item-factory/submit/} + ${itemFactory.id}">Accept</a>
                    <a class="btn btn-first-user" th:href="@{/item-factory/decline/} + ${itemFactory.id}">Decline</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-second-user" th:href="@{/api/v1/list-item}">Kembali</a>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>