<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Si-Business</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/user-style.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
    <div class="container m-5 p-5" style="background: rgba(218, 221, 252, .75); border-radius: 10px">
        <div th:text="${message}" class="alert alert-info" role="alert"></div>
        <h2 style="text-align: center">Daftar Seluruh Coupon</h2>
        <br>
        <table class="table" style="background-color: #daddfc; text-align: center;">
            <thead class="thead-light">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Kode Coupon</th>
                <th scope="col">Nama Coupon</th>
                <th scope="col">Total Diskon</th>
                <th scope="col">Status</th>
                <th scope="col">Creator</th>
                <th scope="col">Detail</th>
                <th scope="col" sec:authorize="hasAuthority('Staff_Marketing')">Setuju</th>
                <th scope="col" sec:authorize="hasAuthority('Staff_Marketing')">Hapus</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coupon, iterationStatus: ${listRequest}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${coupon.couponCode}"></td>
                <td th:text="${coupon.couponName}"></td>
                <td th:text="${coupon.discountAmount}"></td>
                <td th:if="${coupon.status} == false">Belum Disetujui</td>
                <td th:if="${coupon.status} == true">Disetujui</td>
                <td th:text="${coupon.creator.username}"></td>
                <td>
                    <a class="btn btn-info" th:href="@{/coupon/request/} + ${coupon.id}">Detail</a>
                </td>
                <td>
                    <button sec:authorize="hasAuthority('Staff_Marketing')" type="button" class="btn btn-first-user" data-toggle="modal" th:data-target="|#${iterationStatus.index}|">Setuju</button>
                    <!-- Modal -->
                    <div class="modal fade" th:id="${iterationStatus.index}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" th:text="'Apakah anda yakin ingin membuat ' + ${coupon.couponName} + '?'" id="exampleModalLongTitle"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Batalkan</button>
                                    <a class="btn btn-danger" th:href="@{/coupon/approve/} + ${coupon.id}">Ya, saya yakin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button sec:authorize="hasAuthority('Staff_Marketing')" type="button" class="btn btn-first-user" data-toggle="modal" th:data-target="|#${iterationStatus.index}|">
                        Hapus
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="${iterationStatus.index}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" th:text="'Apakah anda yakin ingin menghapus ' + ${coupon.couponName} + '?'" id="exampleModalLongTitle"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Batalkan</button>
                                    <a class="btn btn-danger" th:href="@{/coupon/delete/} + ${coupon.id}">Ya, saya yakin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-second-user" th:href="@{/}">Kembali</a>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</html>