<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Si-Business</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/user-style.css}" />
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
    <div class="container m-5 p-5" style="background: rgba(218, 221, 252, .85); border-radius: 10px">
        <div>
            <a sec:authorize="hasAuthority('Manager Business')" class="btn btn-second-user" th:href="@{/item-factory/view-all}">Daftar Request Item Baru</a>
        </div>
        <br>
        <h2 style="text-align: center">Daftar Seluruh Item Berdasarkan Kategori</h2>
        <br>
        <div th:each="element : ${itemsByKategori}">
            <h4 style="text-align: center" th:text="${element.key}">keyvalue</h4>
            <table class="table" style="background-color: #daddfc; text-align: center;">
                <thead class="thead-light">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Stok</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, iterationStatus: ${element.value}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${item.nama}"></td>
                    <td th:text="${item.harga}"></td>
                    <td th:text="${item.stok}"></td>
                    <td>
                        <a class="btn btn-first-user" th:href="@{/api/v1/detail-item/} + ${item.uuid}">Lihat Detail</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>    
            <a class="btn btn-second-user" th:href="@{/}">Kembali</a>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>