<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/fragment-style.css}" />
    </head>
    <head th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                crossorigin="anonymous"
        ></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color: #2e4c6d;">
    <a class="navbar-brand font-weight-bold" style="color: #fc997c;" th:href="@{/}">SI-BUSINESS</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li th:classappend="${page == 'User'} ? active : ''" class="nav-item">
                <a sec:authorize="hasAuthority('Manager Business')" class="nav-link" style="color: #daddfc;" th:href="@{/user/view-all}">User</a>
            </li>
            <li th:classappend="${page == 'Coupon'} ? active : ''" class="nav-item">
                <a class="nav-link" style="color: #daddfc;" href="#">Coupon</a>
            </li>
            <li th:classappend="${page == 'Webservice Consumer'} ? active : ''" class="nav-item">
                <a class="nav-link" style="color: #daddfc;" href="#">Webservice Consumer</a>
            </li>
        </ul>
        <ul class="navbar-nav pull-right">
            <a class="nav-item nav-link active font-weight-bold" style="color: #daddfc;" th:href="@{/logout}">Logout</a>
        </ul>
    </div>
</nav>
<footer th:fragment="footer" class="page-footer mt-auto font-small pl-1" style="background: rgba(180, 198, 166, .75);">
    <div class="footer-copyright text-center py-3">Copyright © SiBusiness - 2021</div>
</footer>
</body>
</html>